.acesso-info {
  background-color: #ffffff;
  padding: 60px 20px;
  text-align: center;
}

.acesso-info .container {
  max-width: 900px;
  margin: 0 auto;
}

/* TÍTULO */
.acesso-info h1 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #0c326f; /* azul gov */
  margin-bottom: 15px;
}

/* SUBTÍTULO */
.acesso-info p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  color: #555555;
  margin: 0;
}